* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main, footer {
  width: 80%;
  margin: 0 auto;
}

/* Grid system */

/* clear fix */

div.row::after {
  content: '';
  display: table;
  clear: both;
}

/* end clearfix */

div.row > div[class^="col-"] {
  float: left;
}

div.row > div.col-100 {
  width: 100%;
}

/* header */

header > div.row > div[class^="col-"] > div {
  margin-top: 20px;
  height: 100px;
  background: #E579E6;
}

/* main */

main > div.row > div[class^="col-"] > div {
  margin-top: 20px;
  height: 350px;
  background: #E1D67A;
}

main > div.row:nth-child(2) > div[class^="col-"] > div {
  margin-top: 20px;
  height: 450px;
  background: #0086FF;
}
